#body {
  background-color: #f7f7f7;
  padding-top: 1px;
  padding-bottom: 58px;
}
.container-bread-crumb {
  margin-bottom: 30px;
}
section {
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}
section h3 {
  font-size: 14px;
  color: #519cea;
  margin-top: 20px;
  margin-bottom: 10px;
}
section:last-child {
  border-bottom: none;
}
h2 {
  margin-top: 27px;
  margin-bottom: 16px;
  font-size: 22px;
}
h5 {
  margin-top: 16px;
  font-size: 15px;
}
p {
  color: #999999;
  font-size: 14px;
  line-height: 1.8;
}
.slogan-bar {
  margin-top: 0;
}
