.hot-activities ul {
  padding-top: 22px;
}
.hot-activities .block-content {
  padding: 0 14px;
}
.hot-activities .want-watch {
  font-size: 12px;
  color: #ffb200;
}
.hot-activities .expand {
  margin-bottom: 10px;
  height: auto;
  position: relative;
  zoom: 1;
}
.hot-activities .expand:after {
  content: "";
  clear: both;
  display: block;
}
.hot-activities .expand:after {
  content: '';
  display: block;
  clear: both;
}
.hot-activities .expand .text {
  display: none;
}
.hot-activities .expand .poster {
  float: left;
  width: 82px;
  height: 109px;
  border: 0;
}
.hot-activities .expand .detail {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 95px;
}
.hot-activities .expand .detail .title {
  margin-bottom: 12px;
  line-height: 1.43;
  font-size: 14px;
  color: #333;
}
.hot-activities .expand .detail .time {
  margin-bottom: 4px;
  color: #666;
  font-size: 12px;
}
.hot-activities li {
  display: block;
  overflow: hidden;
}
.hot-activities li:last-child {
  border-bottom: 0;
}
.hot-activities li.plain {
  position: relative;
  height: 22px;
  margin-bottom: 18px;
  margin-top: 15px;
}
.hot-activities li.plain .num {
  font-style: italic;
  font-size: 20px;
  color: #999;
  position: absolute;
}
.hot-activities li.plain .text {
  position: relative;
  top: 4px;
  display: block;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}
.hot-activities li.plain .want-watch {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hot-activities li a {
  display: block;
  color: #333;
  position: relative;
}
.hot-activities li .simple-detail {
  color: #999;
  margin-bottom: 18px;
  overflow: hidden;
}
.hot-activities li .simple-detail .time-range {
  font-size: 12px;
  float: left;
}
.related-activities .block-content {
  padding-top: 20px;
}
.related-activities .expand {
  margin-bottom: 10px;
  height: auto;
  position: relative;
  zoom: 1;
}
.related-activities .expand:after {
  content: "";
  clear: both;
  display: block;
}
.related-activities .expand:after {
  content: '';
  display: block;
  clear: both;
}
.related-activities .expand .text {
  display: none;
}
.related-activities .expand .poster {
  float: left;
  width: 89px;
  height: 120px;
  border: 0;
}
.related-activities .expand .detail {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 105px;
}
.related-activities .expand .detail .title {
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}
.related-activities .expand .detail .time {
  margin-bottom: 4px;
  color: #999;
  font-size: 12px;
}
.related-activities .expand .detail .address {
  margin-bottom: 20px;
  color: #999;
  font-size: 12px;
}
.related-activities .expand .detail .price {
  font-size: 12px;
  color: #999;
}
.related-activities .expand .detail .price .num {
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
  position: relative;
  top: -1px;
  color: #ff2661;
}
.related-activities li {
  display: block;
  overflow: hidden;
}
.related-activities li:last-child {
  border-bottom: 0;
}
.related-activities li.plain {
  position: relative;
  font-size: 14px;
  margin-top: 15px;
  border-bottom: 1px dashed #e5e5e5;
}
.related-activities li.plain .text {
  margin-bottom: 8px;
}
.related-activities li a {
  display: block;
  color: #333;
  position: relative;
}
.related-activities li .simple-detail {
  color: #999;
  margin-bottom: 15px;
  overflow: hidden;
}
.related-activities li .simple-detail .time-range {
  font-size: 12px;
  float: left;
}
.related-activities li .simple-detail .price {
  font-size: 12px;
  float: right;
  color: #999;
}
.related-activities li .simple-detail .price .unit {
  font-size: 12px;
  color: #ff2661;
}
.related-activities li .simple-detail .price .num {
  font-size: 14px;
  color: #ff2661;
  margin-right: 2px;
  display: inline-block;
}
.block-app .item {
  padding: 20px 0 24px;
  border-top: 1px dashed #e5e5e5;
  zoom: 1;
}
.block-app .item:first-child {
  padding-top: 0;
}
.block-app .item:last-child {
  padding-bottom: 0;
}
.block-app .item:after {
  content: "";
  clear: both;
  display: block;
}
.block-app .item:after {
  content: '';
  display: block;
  clear: both;
}
.block-app .item .icon {
  width: 100px;
  height: 100px;
  margin-right: 18px;
  float: left;
}
.block-app .item:first-child {
  border-top: 0;
}
.block-app .item .text {
  float: left;
}
.block-app .item .text .title {
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 1;
  color: #333;
  font-size: 20px;
}
.block-app .item .text .desc {
  color: #999;
  font-size: 12px;
}
.aside {
  float: right;
  width: 300px;
  background-color: #fff;
}
.aside .block {
  border: 0;
  margin-bottom: 20px;
}
.aside .block .block-title {
  border-bottom: 1px solid #eaeaec;
  font-size: 18px;
  overflow: visible;
  padding: 0;
  zoom: 1;
}
.aside .block .block-title:after {
  content: "";
  clear: both;
  display: block;
}
.aside .block .block-title:after {
  content: '';
  display: block;
  clear: both;
}
.aside .block .block-title .title {
  font-size: 16px;
  float: left;
  height: 35px;
  line-height: 35px;
  top: 1px;
  position: relative;
  z-index: 9;
  border-bottom: 3px solid #ff2661;
}
.aside .block .block-title .more {
  float: right;
}
.aside .block .block-content {
  padding-top: 20px;
}
.aside .block-actor .block-content {
  padding: 0;
}
.aside .block-actor .img-circle {
  border-radius: 50%;
}
.aside .block-actor .expand {
  padding: 15px 0;
  height: auto;
  position: relative;
  zoom: 1;
}
.aside .block-actor .expand:after {
  content: "";
  clear: both;
  display: block;
}
.aside .block-actor .expand:after {
  content: '';
  display: block;
  clear: both;
}
.aside .block-actor .expand .text {
  display: none;
}
.aside .block-actor .expand .poster {
  float: left;
  width: 70px;
  height: 70px;
  border: 0;
}
.aside .block-actor .expand .detail {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 78px;
}
.aside .block-actor .expand .detail .title {
  margin-top: 12px;
  margin-bottom: 9px;
  font-size: 14px;
  color: #333;
}
.aside .block-app {
  padding: 0;
}
.aside .block-app .item {
  padding: 0;
}
.aside .hot-activities .block-content {
  padding: 0;
}
.aside .block-actor,
.aside .block-app {
  border: none;
}
.aside .block-actor .block-title,
.aside .block-app .block-title {
  padding: 0;
}
.aside .block-actor .block-title .title,
.aside .block-app .block-title .title {
  margin-bottom: 0;
  height: auto;
  line-height: inherit;
  border-bottom: 2px solid red;
  padding-bottom: 9px;
}
.aside .block-actor .block-content li,
.aside .block-app .block-content li {
  border-bottom: 1px dotted #eaeaec;
}
.aside .block-actor .block-content li > *,
.aside .block-app .block-content li > * {
  display: inline-block;
  vertical-align: top;
}
.aside .block-actor .block-content li .poster,
.aside .block-app .block-content li .poster {
  width: 80px;
  height: 80px;
  float: initial;
  background-size: cover;
  background-position: center center;
}
.aside .block-actor .block-content li .detail,
.aside .block-app .block-content li .detail {
  margin-left: 15px;
}
.aside .block-actor .block-content li .detail .title,
.aside .block-app .block-content li .detail .title {
  font-size: 16px;
  color: #999;
}
.aside .block-app .block-content {
  padding-top: 20px;
}
.main-content .main {
  float: left;
  width: 870px;
}
.main-content .main .list li {
  border-bottom: 1px dotted #eaeaec;
  overflow: hidden;
  padding: 20px 0;
}
.main-content .main .list li .poster {
  width: 120px;
  height: 120px;
  float: left;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}
.main-content .main .list li .detail {
  overflow: hidden;
  margin-left: 15px;
  padding-left: 15px;
}
.main-content .main .list li .detail .title {
  font-size: 18px;
  color: #262626;
}
.main-content .main .list li .detail .desc {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .main .list li .detail .desc p {
  margin: 0;
}
