.orderhead {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #eaeaec;
  background-color: #f4f5fa;
  margin-bottom: 15px;
  font-size: 12px;
  color: #666;
}
.orderhead th {
  height: 37px;
  line-height: 37px;
  padding: 0 30px;
  border: 1px solid #f4f5fa;
}
.orderhead .base-info,
.order .base-info {
  width: 350px;
}
.orderhead .category,
.order .category {
  width: 100px;
}
.orderhead .ticket-category,
.order .ticket-category {
  width: 160px;
}
.orderhead .sale-price,
.order .sale-price {
  width: 100px;
}
.orderhead .num,
.order .num {
  text-align: center;
  width: 88px;
}
.orderhead .total,
.order .total {
  text-align: center;
  width: 100px;
}
.orderhead .desc,
.order .desc {
  text-align: center;
  width: 88px;
}
.orderhead .operation,
.order .operation {
  text-align: center;
}
.orderhead th,
.order th {
  padding: 0 20px;
  font-weight: normal;
  text-align: left;
}
.order {
  margin-bottom: 10px;
}
.order .head {
  height: 34px;
  line-height: 34px;
  background-color: #f4f5fa;
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  color: #333;
  font-size: 12px;
  padding-left: 20px;
}
.order .head .ordersaler {
  float: left;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 0!important;
}
.order .head .ordersaler i {
  font-style: normal;
  display: inline-block;
}
.order .head .ordersaler .shop-name {
  color: #4B8FEB;
}
.order .head .zizhi-icon {
  display: inline-block;
  height: 14px;
  width: 56px;
  background-image: url(//dn-piaoniu-static.qbox.me/pc/user/img/zizi-icon.bbbcb28c.png);
  background-size: 100%;
  margin-top: 10px;
  margin-left: 5px;
}
.order .head .orderid,
.order .head .ordertime,
.order .head .ordersaler {
  margin-right: 30px;
}
.order .head .orderid,
.order .head .ordertime {
  color: #999;
  float: right;
}
.order table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #eaeaec;
}
.order td {
  padding: 20px;
  font-size: 12px;
  vertical-align: top;
  border-right: 1px solid #eaeaec;
}
.order td.total {
  position: relative;
}
.order td.total .hint {
  color: #999;
}
.order td.total .compensate {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: #999;
}
.order td.desc {
  text-align: center;
}
.order td.operation {
  text-align: center;
  margin-bottom: 10px;
}
.order td.operation .countdown {
  margin-bottom: 10px;
  padding-left: 2px;
}
.order td.operation .countdown .icon-time {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 2px;
  background-image: url(/pc/img/icon-time.png);
}
.order td.operation .countdown .time {
  font-size: 14px;
  color: #666;
}
.order td.operation .btn {
  margin: 0 auto 14px;
}
.order td.operation .link {
  color: #666;
  display: block;
  margin-bottom: 10px;
  line-height: 1;
}
.order .poster {
  float: left;
  width: 85px;
  height: 114px;
  margin-right: 15px;
  background-color: #eee;
}
.order .lz {
  color: #999;
  font-size: 12px;
}
.order .lz img {
  margin-right: 3px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.order .ticket-category,
.order .category,
.order .sale-price,
.order .total,
.order .num {
  text-align: center;
  font-weight: bold;
}
.order .info {
  margin-left: 100px;
}
.order .info .name {
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  margin: 10px 0;
}
.order .info .address,
.order .info .time,
.order .info .category {
  color: #999;
  font-size: 12px;
}
.order .info .address {
  margin-bottom: 5px;
}
.order .info .time {
  margin-bottom: 16px;
}
.section-body .funcs {
  margin-bottom: 18px;
}
.section-body .funcs .filter {
  border: 1px solid #ccc;
  height: 34px;
  line-height: 34px;
  border-radius: 0;
  background-color: #fff;
  padding-left: 10px;
  width: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-image: url(//dn-piaoniu-static.qbox.me/pc/img/arr-down.9f1dbfdd.png);
}
.base-info {
  width: 350px;
}
