<!DOCTYPE html>
<html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head><title>票牛 - 账户登录</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta id="viewport" name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=0, minimal-ui">
    <meta name="keywords">
    <meta name="description">
    <meta name="360-site-verification" content="ffa82a5e22b3b2935c234b9ea4ff70cf">
    <link rel="stylesheet" href="css/ui.343fbb43.css">
    <link rel="stylesheet" href="css/header.2192bc4c.css">
    <link rel="stylesheet" href="css/login.8dc2a889.css">
</head>
<body>
<div class="headerbar">
    <div class="container">
        <div class="funcs">
            <div class="item"><a href="/" class="text">票牛首页 </a></div>
        </div>
        <div class="right-funcs funcs">
            <div class="item item-user item-menu">
                <div class="text"></div>
                <ul>
                    <li><a href="/user/order">我的订单</a></li>
                    <li><a href="/user/balance">我的钱包</a></li>
                    <li><a href="/user/profile">账户设置</a></li>
                    <li class="logout">退出登录</li>
                </ul>
            </div>
            <div class="item item-login">
                <div class="text">登录</div>
            </div>
            <a href="/app">
                <div class="item item-mobile item-menu">
                    <div class="text">手机票牛</div>
                    <ul>
                        <li><img src="picture/qr-app.f6b3ee0e.png" class="qr">
                            <div class="text">
                                <div class="title">票牛APP</div>
                                <div class="desc">热门票随时抢<br/>折扣票随时买</div>
                            </div>
                        </li>
                        <li><img src="picture/qr-wechat.72c6a6c0.png" class="qr">
                            <div class="text">
                                <div class="title">微信订阅号</div>
                                <div class="desc">精彩剧评最新<br/>活动随时看</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </a></div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="login-form">
            <div class="title">账户登录</div>
            <div class="hint"></div>
            <div class="form form-login">
                <!--<div class="login-fields">-->
                    <!--<div class="row row-mobile">-->
                        <!--<div class="icon"></div>-->
                        <!--<input id="inputEmail"  placeholder="手机号" name="mobile" maxlength="11" type="text" class="input input-mobile">-->
                    <!--</div>-->
                    <!--<div class="row row-password">-->
                        <!--<div class="icon"></div>-->
                        <!--<input  id="inputPassword" placeholder="密码" name="password" type="password" class="input input-password"></div>-->
                    <!--<div class="row row-captcha normal-captcha"><input placeholder="请输入验证码" name="vcode" type="text"-->
                                                                       <!--class="input input-vcode"><img-->
                            <!--src="picture/0d3b4ccfa5ed4224bdaf08591c669cad.gif"></div>-->
                <!--</div>-->
                <div class="quick-login-fields">
                    <div class="row row-mobile">
                        <div class="icon"></div>
                        <input id="inputEmail" placeholder="手机号" name="mobile" maxlength="11" type="text"
                               class="input input-mobile">
                    <div  class="row row-captcha"><input id="verification" placeholder="请输入密码" name="vcode" type="text"
                                                        class="input input-vcode"><img
                            src="picture/0d3b4ccfa5ed4224bdaf08591c669cad.gif"></div>
                    <div class="row row-vcode">
                        <div class="icon"></div>
                        <input id="inputPassword" placeholder="密码" name="vcode" maxlength="6" type="password" class="input input-vcode"></div>
                </div>
                <div class="row"><a href="/user/resetPassword" class="link link-left"> 忘记密码? </a><a href="http://192.168.53.12:8081/qfclothes/page/denglu2.html"
                                                                                                    class="link link-right link-switch-login">手机登录</a>
                </div>
                <div class="row"><input type="submit" value="登   录" class="btn btn-submit "onclick="login()" ></div>
                <div class="row"><a href="http://localhost:8081/qfclothes/page/zhuce.html" class="link link-reg link-right">立即注册</a></div>
            </div>
        </div>
    </div>
</div>
<div class="slogan-bar">
    <div class="container"><a href="/services#service1" rel="nofollow" class="item"><img
            src="picture/icon-diamond.bb7002bc.png" class="icon">
        <div class="text">
            <div class="title">无票赔付</div>
            <div class="desc">无票赔付，最高退一赔二</div>
        </div>
    </a><a href="/services#service2" rel="nofollow" class="item"><img src="picture/icon-shield.09fa5cdb.png"
                                                                      class="icon">
        <div class="text">
            <div class="title">出票保真</div>
            <div class="desc">全程消费保障，买得放心</div>
        </div>
    </a><a href="/services#service3" rel="nofollow" class="item"><img src="picture/icon-umbrella.b2c3c4c4.png"
                                                                      class="icon">
        <div class="text">
            <div class="title">配送保障</div>
            <div class="desc">多种取票方式 安全送达</div>
        </div>
    </a></div>
</div>
<div class="footer bottom-bar">
    <div class="container">
        <div class="links-and-brand"><img src="picture/footer-logo.d5e1202e.png" class="footer-logo">
            <div class="qr-codes">
                <div class="item"><img src="picture/qr-app.f6b3ee0e.png" class="img">
                    <div class="text">票牛app</div>
                </div>
            </div>
            <div class="helps">
                <div class="buyDesc help">
                    <div class="title">订票说明</div>
                    <div class="item"><a href="/questions?question=订购渠道&amp;questionGroup=订购说明" rel="nofollow">订购渠道</a>
                    </div>
                    <div class="item"><a href="/questions?question=演出状态&amp;questionGroup=订购说明" rel="nofollow">演出状态</a>
                    </div>
                    <div class="item"><a href="/questions?question=如何订购&amp;questionGroup=订购说明" rel="nofollow">如何订购</a>
                    </div>
                    <div class="item"><a href="/questions?question=价格说明&amp;questionGroup=订购说明" rel="nofollow">价格说明</a>
                    </div>
                    <div class="item"><a href="/questions?question=关于座位&amp;questionGroup=订购说明" rel="nofollow">关于座位</a>
                    </div>
                </div>
                <div class="payType help">
                    <div class="title">支付方式</div>
                    <div class="item"><a href="/questions?question=在线支付&amp;questionGroup=支付方式" rel="nofollow">在线支付</a>
                    </div>
                    <div class="item"><a href="/questions?question=花呗&amp;questionGroup=支付方式" rel="nofollow">花呗</a>
                    </div>
                    <div class="item"><a href="/questions?question=银行卡支付&amp;questionGroup=支付方式"
                                         rel="nofollow">银行卡支付</a></div>
                </div>
                <div class="deliverType help">
                    <div class="title">配送方式</div>
                    <div class="item"><a href="/questions?question=上门自取&amp;questionGroup=配送方式" rel="nofollow">上门自取</a>
                    </div>
                    <div class="item"><a href="/questions?question=现场自取&amp;questionGroup=配送方式" rel="nofollow">现场自取</a>
                    </div>
                    <div class="item"><a href="/questions?question=顺丰配送&amp;questionGroup=配送方式" rel="nofollow">顺丰配送</a>
                    </div>
                    <div class="item"><a href="/questions?question=电子票&amp;questionGroup=配送方式" rel="nofollow">电子票</a>
                    </div>
                </div>
                <div class="afterSaleService help">
                    <div class="title">售后服务</div>
                    <div class="item"><a href="/questions?question=退换票说明&amp;questionGroup=售后服务"
                                         rel="nofollow">退换票说明</a></div>
                    <div class="item"><a href="/questions?question=退款说明&amp;questionGroup=售后服务" rel="nofollow">退款说明</a>
                    </div>
                    <div class="item"><a href="/questions?question=退款条件&amp;questionGroup=售后服务" rel="nofollow">退款条件</a>
                    </div>
                </div>
                <div class="featureService help">
                    <div class="title">特色服务</div>
                    <div class="item"><a href="/services" rel="nofollow">无票赔付</a></div>
                    <div class="item"><a href="/services" rel="nofollow">下单15分钟内可退款</a></div>
                    <div class="item"><a href="/services" rel="nofollow">保证真票</a></div>
                    <div class="item"><a href="/services" rel="nofollow">配送保障</a></div>
                </div>
            </div>
            <div class="links"><a href="/about" rel="nofollow">关于我们</a><a href="/contact" rel="nofollow">联系我们</a><a
                    href="http://piaoniu.zhiye.com/" rel="nofollow">加入我们</a><a href="/actor" rel="nofollow">艺人</a><a
                    href="/city/all" rel="nofollow">全部城市</a><a href="http://news.piaoniu.com/" rel="nofollow">票牛资讯</a><a
                    href="https://m.piaoniu.com/about/privacy-policy.html" rel="nofollow">隐私政策</a><a
                    href="/disputeResolution" rel="nofollow">争议调解</a>
                <div class="hot-search"><span>热门搜索</span>
                    <div class="hot-search-list"><a href="//www.piaoniu.com/stag/38495">宋秉洋佛山演唱会</a><a
                            href="//www.piaoniu.com/stag/51451">吴莫愁大连演唱会行程</a><a href="//www.piaoniu.com/stag/52861">advantage
                        Lucy兰州演唱会行程</a><a href="//www.piaoniu.com/stag/68312">梁汉文新加坡演唱会行程</a><a
                            href="//www.piaoniu.com/stag/78032">熊猫眼镜乐队茂名演唱会行程</a><a href="//www.piaoniu.com/stag/78867">张一山厦门演唱会行程</a><a
                            href="//www.piaoniu.com/stag/83643">周蕙惠州演唱会安排</a><a href="//www.piaoniu.com/stag/85138">刘若英郑州演唱会安排</a><a
                            href="//www.piaoniu.com/stag/106231">杭盖乐队合肥演唱会安排</a><a href="//www.piaoniu.com/stag/115468">方大同张家口演唱会安排</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom lightBg">
    <div class="copyright">上海颂品网络科技有限公司 Copyright (c) 2015年 Songpin. All rights reserved. | <a
            href="http://www.miitbeian.gov.cn" target='_blank'>沪ICP备14000399号-2</a></div>
    <div class="police-icons"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001682"
                                 target="_blank" rel="nofollow" class="link link-police"><img
            src="picture/police.c9ff2fec.png" class="icon">
        <div class="text">沪公网安备 31010602001682号</div>
    </a><a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=2016050618242638" target="_blank"
           rel="nofollow" class="link link-gongshang"><img src="picture/gongshang.df298c0c.png" class="icon">
        <div class="text">上海工商</div>
    </a></div>
</div>

<script>(function () {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();</script>
<div class="banner-content">
    <div class="banner">
        <div class="center">
            <div class="left"><img src="picture/logox2.78a31cd1.png"></div>
            <div class="app-load"><a href="/app" class="apple"></a><a href="/app" class="android"></a></div>
            <div class="code"><img src="picture/code.0294fe21.png"></div>
        </div>
        <span class="close"></span></div>
    <div class="left-img"><img src="picture/left.e32ac038.png"></div>
</div>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?01b5937de16f243ccb7252c91a31af07";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
_hmt.push(['_setCustomVar', 1, 'city', '重庆']);
</script>
<script>var _vds = _vds || [];
window._vds = _vds;
(function () {
    _vds.push(['setAccountId', 'b90318d3834bb1b6']);
    (function () {
        var vds = document.createElement('script');
        vds.type = 'text/javascript';
        vds.async = true;
        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(vds, s);
    })();
})();
</script>
<script>(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-71591200-1', 'auto');
ga('send', 'pageview');</script>
<!--[if lte IE 7]>
<script src="js/json3.6787b55e.js"></script><![endif]-->
<!--[if lte IE 8]>
<script src="js/es5-shim.c3b1fc73.js"></script>
<script src="js/es5-sham.095d9e53.js"></script><![endif]-->
<!--<script src="js/common.7ec1644e.js"></script>&lt;!&ndash; 登录用户&ndash;&gt;&lt;!&ndash; 错误监控&ndash;&gt;-->
<script>Raven.config('https://8f0cab137a7b47769dec9f0dd89f5885@sentry.piaoniu.com/3y', {
    whitelistUrls: [/www\.piaoniu\.com/],
    ignoreErrors: [/MyAppGet/, '$UCBrowser']
}).install()
</script><!-- 环信-->
<script>(function () {
    window.easemobim = window.easemobim || {};
    var visitor = null
    if (window.user) {
        visitor = {
            phone: user.mobileNo,
            userNickname: user.userName,
            description: user.bio
        }
    }

    easemobim.config = {
        hide: true,
        visitor: visitor,
        //租户id
        tenantId: '34323',
        //环信移动客服域，固定值，请按照示例配置
        domain: '//kefu.easemob.com',
        //自己服务器上im.html文件的路径
        path: 'http://static.piaoniu.com/pc/vendors/huanxin-webim',
        //访客插件static的路径
        staticPath: 'http://static.piaoniu.com/pc/vendors/huanxin-webim/static'
    };

    easemobim.config.path = easemobim.config.path.split(location.protocol).join('')
    easemobim.config.staticPath = easemobim.config.staticPath.split(location.protocol).join('')

    if (window.easemobExtMsg) {
        easemobim.config.onready = function () {
            easemobim.sendExt({
                ext: {
                    "type": "custom",
                    "msgtype": easemobExtMsg
                }
            })
        }
    }
})()
</script><!--引用自己服务器上easemob.js文件的路径-->
<script src="js/easemob.f3ced40f.js" async="async"></script>
<script src="js/header.f316ff59.js"></script>
<script src="js/bottom.0e38a26e.js"></script>
<script src="js/login.96c4cb4b.js"></script>
<script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript">
    // function login2() {
    //     var userTel = $("#userTel").val();
    //     var verification = $("#verification").val();
    //     $.post("user/pCode",
    //         {
    //             userTel:userTel,
    //             verification:verification,
    //
    //         },
    //         function (data) {
    //             if (data.code == 1) {
    //                 alert(data.msg);
    //             }else {
    //                 alert(data.msg);
    //             }
    //         })
    //
    // }
    //
    // function login3() {
    //     var userTel = $("#userTel").val();
    //     var verification = $("#verification").val();
    //     // if(userTel==""){
    //     //     alert("手机号不能为空");
    //     //     return false;
    //     // }
    //     // if(verification==""){
    //     //     alert("验证码不能为空");
    //     //     return false;
    //     // }
    //     $.post("user/pLogin",
    //         {
    //             userTel:userTel,
    //             verification:verification,
    //
    //         },
    //         function (data) {
    //             if (data.code == 1) {
    //                 window.location.href="";
    //             }else {
    //                 alert(data.msg);
    //             }
    //         })
    //
    // }


    function login() {
        var userTel = $("#inputEmail").val();
        var userPassword = $("#inputPassword").val();
            if(userTel==""){
                alert("手机号不能为空");
                return false;
            }
            if(userPassword==""){
                alert("密码不能为空");
                return false;
            }
        $.post("user/login",
            {
                userTel:userTel,
                userPassword:userPassword
            },
            function (data) {
                if (data.code == 1) {
                    window.location.href="user/index";
                }else if (data.code == 2){
                    window.location.href="http://192.168.66.1:8080/ticketking/home/parent?cityId=1";
                } else {
                    alert(data.msg);
                }
            })

    }
</script>

</body>
</html>