<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">


	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<style type="text/css">
			.index{
				position: relative;
				top: -200px;
				font-size:18px;
				width: 1070px;
				text-overflow: ellipsis;
				/*height:300px;*/

			}
			.index a{
				text-decoration:none;
				color: #4a4a4a;
			}

			table{
				margin: 0px;
				padding: 0px;
				width: 30%;
				border-collapse: collapse;
				table-layout: fixed;  /*不添加此样式，会全部显示    */
			}
			table td{

				/* text-overflow: ellipsis; */ /* 加上，显示省略号*/
				white-space: nowrap;
				overflow: hidden;
			}
			table td:hover { /* 鼠标滑过  显示隐藏的内容  伴有横向的滚动条 */
				overflow:auto;
				text-overflow:clip;
			}


			.active a{
				text-decoration:none;
				color: floralwhite;
			}
			.left{
				height:800px;

			}
			.so{
				position: relative;
				top: -400px;
			}



		</style>
		<base th:href="${#request.getContextPath()}+'/'">
		<link rel="stylesheet" href="css/page.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>

	<body>
	<div id="users">
		<div  class="left">
			<div class="bigTitle">商圈后台管理系统</div>
			<div class="lines">
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/user/index">用户表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes//king/queryAllStation">商品表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/star/tar">明星表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/son/so">商品子表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/show/sho">城市表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/see/session">场次表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/price/pr">中间表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/place/pla">场地表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/parent/par">商品分类表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/order/to">订单表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/lv/ll">票档表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/intro/in">商品简介表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/focus/fo">关注表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/comment/com">评论表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/city/po">城市表</a></div>
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" /><a href="http://localhost:8081/qfclothes/save/indexs">用户地址表</a></div>

			</div>
		</div>
		<div class="top">
			<div class="leftTiyle" id="flTitle">商品表管理</div>
			<div class="thisUser">

			</div>
		</div>
		<div class="content index">

			<table class="table table-bordered  table-layout:fixed" cellpadding="0" border="1"  >
				<tbody th:each="pr:${priceupdate}">
				<tr >

					<input id="priceId" placeholder="请输入演出编号" name="priceId" maxlength="11" type="text"
						   class="input input-mobile" th:value="${pr.priceId}"><br>


                        <input id="showId" placeholder="请输入演出编号" name="showId" maxlength="11" type="text"
                               class="input input-mobile" th:value="${pr.showId}"><br>


                        <input id="placeId" placeholder="请输场地编号" name="placeId" maxlength="11" type="text"
                               class="input input-mobile" th:value="${pr.placeId}"><br>


		<div class="row"><input type="submit" value="提 交" class="btn btn-submit" onclick="register()" ></div><br>

				</tr>

				</tbody>


			</table>

		</div>
	<script type="text/javascript">
        function register() {
            var priceId = $("#priceId").val();
            var showId = $("#showId").val();
            var placeId = $("#placeId").val();
            $.post("price/updateprice",
                {
                    priceId:priceId,
                    showId:showId,
                    placeId:placeId,

                },
                function (data) {
                    if (data.code == 1) {
                        window.location.href="price/pr";
                    } else {
                        alert(data.msg);
                    }
                })

        }
	</script>
</html>