<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>票牛资讯</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="design by www.piaoniu.com" />
<meta name="baidu-site-verification" content="uJKyYuEQFq" />
<link type="text/css" media="all" href="css/style.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="" href="/rss.php"/>
<script language="javascript" type="text/javascript" src="js/dedeajax2.js"></script>
<script type='text/javascript' src='js/jquery.min.js'></script>
<script type='text/javascript' src='js/jquery.js'></script>
</head>

<body class="home blog">
<header id="header" class="header">

  <div id="nav-header" class="navbar">
    <ul class="nav">
		<li  class='current-menu-parent a' class="menu-item menu-item-type-custom menu-item-object-custom ">
			<a href="/" title="票牛资讯">演出票务</a>

		</li>







      <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu  "><a  id="1"  href="/news/" >资讯</a>
        <ul class="sub-menu">
          
        </ul>
      </li><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu  "><a  id="2"  href="/faq/" >问答</a>
        <ul class="sub-menu">
          
        </ul>
      </li>
      <li style="float:right;">
        <div class="toggle-search"><i class="fa fa-search"></i></div>
        <div class="search-expand" style="display: none;">
          <div class="search-expand-inner">
            <form class="searchform themeform" action="/plus/search.php">
              <div>
                <input type="ext" class="search" name="q"  autofocus="" x-webkit-speech="" value="search...">
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
    <div class="screen-mini">
      <button data-type="screen-nav" class="btn btn-inverse screen-nav"> <i class="fa fa-list"> </i> </button>
    </div>
  </div>
</header>




<section class="container">
<div class="content-wrap">
  <div class="content">
    <div id="wowslider-container1">
      <div class="ws_images">
        <ul>
          
        </ul>
      </div>
      <div class="ws_thumbs">
        <div>  </div>
      </div>
      <div class="ws_shadow"> </div>
    </div>
    <script type="text/javascript" src="js/slider.js"></script>
    <div class="banner banner-sticky"> 
      <script src='js/ad_js.js' language='javascript'></script>
    </div>
    <div class="hot-posts">
      <h2 class="title">本周热门排行</h2>
      <ul>
        <li>

          <span class="label label-1">1</span> <a target="_blank" href="/news/967.html" title=" 北京曲剧《烟壶》上演二十年 描绘老北京生活风"> 北京曲剧《烟壶》上演二十年 描绘老北京生活风</a> 
		</li>
<li>

          <span class="label label-2">2</span> <a target="_blank" href="/news/974.html" title=" 2015美国MTV音乐录影带大奖 泰勒揽三奖成赢家"> 2015美国MTV音乐录影带大奖 泰勒揽三奖成赢家</a> 
		</li>
<li>

          <span class="label label-3">3</span> <a target="_blank" href="/news/607.html" title=" 李健全国巡回风头被抢 杨宗纬点歌“璀璨”|插"> 李健全国巡回风头被抢 杨宗纬点歌“璀璨”|插</a> 
		</li>
<li>

          <span class="label label-4">4</span> <a target="_blank" href="/news/1.html" title=" 潘高峰丁少华全国巡演北京站 唱响放纵之夜"> 潘高峰丁少华全国巡演北京站 唱响放纵之夜</a> 
		</li>
<li>

          <span class="label label-5">5</span> <a target="_blank" href="/news/1193.html" title=" 董皇咛翻唱《好久不见》 被网友称之为内地版"> 董皇咛翻唱《好久不见》 被网友称之为内地版</a> 
		</li>

      </ul>
    </div>
    <article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5701.html" title=" 黄义达蓝发明眸尽显神秘 8月6日北京开唱">  黄义达蓝发明眸尽显神秘 8月6日北京开唱 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5701.html"> <img class="thumb" src="picture/defaultpic.gif" alt=" 黄义达蓝发明眸尽显神秘 8月6日北京开唱"> </a> </div>
      <span class="note"> 本周六，音乐才子黄义达“Noise2Sound”2016 Live Concert演唱会将于北京举办。此前两场演唱会分别在上海、广州举办且均获得火热反响。此次曝光的造型中，黄义达发色幽蓝眼神明澈尽显神秘气息... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-29
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 181℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5700.html" title="
 欧豪霸气登时尚杂志封面 微露人鱼线展完美身材
"> 
 欧豪霸气登时尚杂志封面 微露人鱼线展完美身材
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5700.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 欧豪霸气登时尚杂志封面 微露人鱼线展完美身材
"> </a> </div>
      <span class="note"> 票牛娱乐讯 近日，当红演员欧豪受邀登上《红秀GRAZIA》七周年刊封面。大片中欧豪时髦演绎四套不同风格的秋冬造型，尽展酷帅Boy迷人本色。封面上，欧豪手持电吉他，坚毅的眼神加之完美侧颜，玩世中不失认真，透出做自己、不伪装的年轻本色。另一组Look中，欧豪身着黑色皮衣，大长腿跨摩登... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 170℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5699.html" title="
 TFBOYS三周年完美收官 王俊凯新歌首唱《树读》
"> 
 TFBOYS三周年完美收官 王俊凯新歌首唱《树读》
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5699.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 TFBOYS三周年完美收官 王俊凯新歌首唱《树读》
"> </a> </div>
      <span class="note"> 票牛娱乐讯 8月13日下午，TFBOYS周年“三部曲”广州场见面会落下帷幕，这也标志着TFBOYS三周年见面会完美收官。见面会以《爱出发》开场，并演唱了《大梦想家》、《剩下的盛夏》、《宠爱》、《青春修炼手册》等组合代表热歌，最后以出道单曲《Heart》收尾，为本次三周年见面会画上... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 169℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5698.html" title="
 吴克群自创品牌新店开幕 打造太空特务体验馆
"> 
 吴克群自创品牌新店开幕 打造太空特务体验馆
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5698.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 吴克群自创品牌新店开幕 打造太空特务体验馆
"> </a> </div>
      <span class="note"> 票牛娱乐讯 华纳音乐旗下“创作才子”吴克群在8月2日隆重宣布自创品牌“DEBRAND”将于一级战区西门町开幕全新旗舰店，更邀到演艺圈好友们及品牌大使林明祯到场共襄盛举，场面热闹非凡！而吴克群也以“有华人的地方就有DEBRAND”为目标，透露将以亚洲为基地，希望未来能拓展至各大国际... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 170℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5697.html" title="
 《周末喜刷刷》北京招募 魏哲鸣坐镇评委席
"> 
 《周末喜刷刷》北京招募 魏哲鸣坐镇评委席
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5697.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 《周末喜刷刷》北京招募 魏哲鸣坐镇评委席
"> </a> </div>
      <span class="note"> 票牛娱乐讯 近日，由北京卫视、阳光盒子传媒联合主办的北京卫视《周末喜刷刷》招募站活动落地凯德MALL·翠微路，活动现场不仅数位“名气选手”云集，更有新生代人气偶像魏哲鸣空降现场坐镇评委席。... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 172℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5696.html" title="
 黄小琥牵手刘凤瑶重庆开唱 打趣逗乐样样来
"> 
 黄小琥牵手刘凤瑶重庆开唱 打趣逗乐样样来
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5696.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 黄小琥牵手刘凤瑶重庆开唱 打趣逗乐样样来
"> </a> </div>
      <span class="note"> 票牛娱乐讯 近日，华纳音乐旗下“都会疗伤系歌后”黄小琥牵手在重庆人民大厦会堂举办了自己的音乐会。除了近千人到场“朝圣”女王的超强live实力之外，黄小琥也不负众望，在整场历时2个小时的演唱会中，她演唱了将近20首脍炙人口的经典歌曲，全场更是大合唱到底。除此之外，更有华纳新声刘凤瑶... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 169℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5695.html" title="
 侯明昊生日发愿做实力派 19岁超能少年成绩喜人
"> 
 侯明昊生日发愿做实力派 19岁超能少年成绩喜人
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5695.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 侯明昊生日发愿做实力派 19岁超能少年成绩喜人
"> </a> </div>
      <span class="note"> 票牛娱乐讯 超能少年侯明昊从出道至今一直以暖萌乖巧形象示人，是集青春、能量、活力于一身的暖萌化身，是一枚明明可以靠脸，但却要刻苦训练认真学习的乖萌运动型无公害鲜肉。进军影视圈未满三个月，便连续成为两部中港团队制作拍摄的院线电影男主角，更是加盟湖南卫视、腾讯视频等多档巨制高收视综艺... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 168℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5694.html" title="
 万翔柠味夏日写真曝光 演绎极致鲜透青春
"> 
 万翔柠味夏日写真曝光 演绎极致鲜透青春
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5694.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 万翔柠味夏日写真曝光 演绎极致鲜透青春
"> </a> </div>
      <span class="note"> 票牛娱乐讯 近日，演员、新锐唱作人万翔(Vince)曝光了一组极致透鲜的柠味夏日写真。他身穿白衬衫融化于纯白色画面中，时而露出灿烂笑容犹如一缕阳光，时而动感造型玩趣十足，也露出坚毅眼神撩人心弦，青萌少年用心演绎最夏天的男朋友，在柠味夏天带来一份别样清爽。据悉，唱作方面崭露头角的万... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 168℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5693.html" title="
 韩红澳门个唱玩嗨 翻唱经典粤语歌引全场合唱
"> 
 韩红澳门个唱玩嗨 翻唱经典粤语歌引全场合唱
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5693.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 韩红澳门个唱玩嗨 翻唱经典粤语歌引全场合唱
"> </a> </div>
      <span class="note"> 票牛娱乐讯 8月13日，韩红在澳门举办最新一场“当红不让”演唱会，翻唱粤语经典引全场大合唱。本次澳门站演唱会上，韩红毫无保留为在场歌迷献上自己的经典曲目，一首首熟悉的旋律和华丽的舞台，为歌迷献上一场视听盛宴。此次演唱会，是韩红时隔半年再回归“当红不让”，也是近两个月以来与歌迷的首... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 168℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5692.html" title="
 陈伟霆巡演上海站门票被秒杀 大快朵颐享美食
"> 
 陈伟霆巡演上海站门票被秒杀 大快朵颐享美食
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5692.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 陈伟霆巡演上海站门票被秒杀 大快朵颐享美食
"> </a> </div>
      <span class="note"> 16日，2016陈伟霆“Inside Me”2016巡回演唱会第二场上海站正式开票，延续首场北京站的火爆，上海站刚一开售，多个价位门票均被抢购一空，再次证明“全能男神”的魅力势不可挡！相信接下来的半年，光是听到陈伟霆演唱会开票消息，就足以挑动各地歌迷的紧张神经。在此提醒女皇们要抓... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 168℃
		</span> 

	  </p>
    </article>
<article class="excerpt">
      <header> <a class="label label-important" href="/news/"> 资讯 <i class="label-arrow"> </i> </a>
        <h2> <a target="_blank" href="/news/5691.html" title="
 李玉玺拍新歌《满天星》MV 与欧阳娜娜四手联弹
"> 
 李玉玺拍新歌《满天星》MV 与欧阳娜娜四手联弹
 </a> </h2>
      </header>
      <div class="focus"> <a target="_blank" href="/news/5691.html"> <img class="thumb" src="picture/defaultpic.gif" alt="
 李玉玺拍新歌《满天星》MV 与欧阳娜娜四手联弹
"> </a> </div>
      <span class="note"> 李玉玺睽违一年再度以歌手身份回归歌坛，退去演员光环的李玉玺，不再是国民男神欧阳非凡，也不是校园风云人物IQ200的天才江植树，而是回归到他最真实的自己，以歌手身份回归的他，经历了戏剧的洗礼，在创作上有别于以往，似乎多了更多温度，这次新推出的数位单曲《满天星》以32人大编制Live... </span>
      <p class="auth-span">
		<span class="muted">
			<i class="fa fa-clock-o"> </i> 2016-08-23
		</span>
		<span class="muted">
			<i class="fa fa-eye"> </i> 168℃
		</span> 

	  </p>
    </article>
 </div>
</div>
<aside class="sidebar">

<div class="widget d_tag">
          <div class="title">
            <h2>
              热门资讯
            </h2>
          </div>
          <div class="d_tags">
          
            <a data-original-title="136个话题" title="" href="/tag/yinlejie_3418_1.html">
              音乐节 (136)
            </a>
            
            <a data-original-title="97个话题" title="" href="/tag/ledui_1310_1.html">
              乐队 (97)
            </a>
            
            <a data-original-title="55个话题" title="" href="/tag/SNH48_32_1.html">
              SNH48 (55)
            </a>
            
            <a data-original-title="46个话题" title="" href="/tag/zhoujielun_3974_1.html">
              周杰伦 (46)
            </a>
            
            <a data-original-title="42个话题" title="" href="/tag/jikejuanyi_1057_1.html">
              吉克隽逸 (42)
            </a>
            
            <a data-original-title="42个话题" title="" href="/tag/yinleju_3419_1.html">
              音乐剧 (42)
            </a>
            
            <a data-original-title="42个话题" title="" href="/tag/jikejuan_4343_1.html">
              吉克隽 (42)
            </a>
            
            <a data-original-title="39个话题" title="" href="/tag/letan_1313_1.html">
              乐坛 (39)
            </a>
            
            <a data-original-title="38个话题" title="" href="/tag/pingan_2149_1.html">
              平安 (38)
            </a>
            
            <a data-original-title="38个话题" title="" href="/tag/juyuan_1253_1.html">
              剧院 (38)
            </a>
            
            <a data-original-title="36个话题" title="" href="/tag/huachenyu_958_1.html">
              华晨宇 (36)
            </a>
            
            <a data-original-title="36个话题" title="" href="/tag/jinzhiwen_1234_1.html">
              金志文 (36)
            </a>
            
            <a data-original-title="36个话题" title="" href="/tag/zhangliangying_3639_1.html">
              张靓颖 (36)
            </a>
            
            <a data-original-title="34个话题" title="" href="/tag/chenzhipeng_367_1.html">
              陈志朋 (34)
            </a>
            
            <a data-original-title="34个话题" title="" href="/tag/huangzhilie_1039_1.html">
              黄致列 (34)
            </a>
            
            <a data-original-title="33个话题" title="" href="/tag/zhangxinzhe_3726_1.html">
              张信哲 (33)
            </a>
            
            <a data-original-title="31个话题" title="" href="/tag/haoshengyin_843_1.html">
              好声音 (31)
            </a>
            
            <a data-original-title="31个话题" title="" href="/tag/huangzitao_1042_1.html">
              黄子韬 (31)
            </a>
            
            <a data-original-title="31个话题" title="" href="/tag/liyundi_1568_1.html">
              李云迪 (31)
            </a>
            
            <a data-original-title="31个话题" title="" href="/tag/jiuyueqiji_4372_1.html">
              玖月奇迹 (31)
            </a>
            
            <a data-original-title="30个话题" title="" href="/tag/zhoujie_3973_1.html">
              周杰 (30)
            </a>
            
            <a data-original-title="29个话题" title="" href="/tag/luhan_1893_1.html">
              鹿晗 (29)
            </a>
            
            <a data-original-title="29个话题" title="" href="/tag/luozhixiang_1917_1.html">
              罗志祥 (29)
            </a>
            
            <a data-original-title="28个话题" title="" href="/tag/BIGBANG_7_1.html">
              BIGBANG (28)
            </a>
            
            <a data-original-title="28个话题" title="" href="/tag/tanweiwei_2538_1.html">
              谭维维 (28)
            </a>
            
            <a data-original-title="28个话题" title="" href="/tag/weichen_2904_1.html">
              魏晨 (28)
            </a>
            
            <a data-original-title="28个话题" title="" href="/tag/xiju_3037_1.html">
              戏剧 (28)
            </a>
            
            <a data-original-title="28个话题" title="" href="/tag/wangziheng_4677_1.html">
              王梓蘅 (28)
            </a>
            
            <a data-original-title="27个话题" title="" href="/tag/linjunjie_1653_1.html">
              林俊杰 (27)
            </a>
            
            <a data-original-title="27个话题" title="" href="/tag/rongzuer_2284_1.html">
              容祖儿 (27)
            </a>
            

          </div>
        </div>

<!-- 
        <div class="widget d_comment">       
          <div class="title">
            <h2>
              最新评论
            </h2>
          </div>
          </div>
-->		
  <div class="widget widget_links">
    <div class="title">
      <h2> 友情链接 </h2>
    </div>
    <ul class="xoxo blogroll">
      <li><a href='http://www.piaoniu.com' target='_blank'>演唱会门票网站</a> </li>
    </ul>
  </div>        
        
</aside>

</section>
<footer class="footer">
  <div class="footer-inner">
    <div class="copyright pull-left">  </div>
    <div class="trackcode pull-right">  </div>
  </div>
</footer>
<div style="display: none;" class="rollto">
  <button class="btn btn-inverse" data-type="totop" title="回顶部"> <i class="fa fa-arrow-up"> </i> </button>
</div>
<script src="js/h.js" type="text/javascript"></script> 
<script>
	window._deel = {
		name: '票牛',
		url: '/',
		ajaxpager: 'on',
		commenton: 0,
		roll: [2, 5],
		appkey: {
			tqq: '',
			tsina: ''
		}
	}
	if (document.domain == "/") {
		window.location.href = '/';
	}
</script> 
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80709528-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

