<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.demo_ticketking.mapper.AddMapper">
    <resultMap id="baseResult" type="com.ticket.demo_ticketking.po.TbAdd">
        <id property="addId" column="add_id" javaType="java.lang.Long"/>
        <result property="addAdd" column="add_add" javaType="java.lang.String"/>
        <result property="userId" column="user_id" javaType="java.lang.Long"/>
    </resultMap>
    <select id="queryAdd" resultMap="baseResult">
        select * from tb_add;
    </select>
    <insert id="savaAdd">
        insert into tb_add(user_id,add_add)
            values(#{userId},#{addAdd});
    </insert>

    <select id="queryAddById" resultMap="baseResult">
        select * from tb_add where add_id=#{addId};
    </select>


    <update id="updateAdd">
        update tb_add set user_id=#{userId},add_add=#{addAdd}
        where add_id=#{addId};
    </update>



</mapper>