<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.demo_ticketking.mapper.OrderBuyMapper">
    <resultMap id="baseResult" type="com.ticket.demo_ticketking.vo.OrderBuyVO">
        <id property="ticketId" column="ticket_id" javaType="java.lang.Long"/>
        <result property="ticketName" column="ticket_name" javaType="java.lang.String"/>
        <result property="placeName" column="place_name" javaType="java.lang.String"/>
        <result property="showId" column="show_id" javaType="java.lang.Long"/>
        <result property="showTime" column="show_time" javaType="java.lang.String"/>
        <result property="placeId" column="place_id" javaType="java.lang.Long"/>
        <result property="ticketImage" column="ticket_image" javaType="java.lang.String"/>
    </resultMap>
    
    <resultMap id="introIdResult" type="com.ticket.demo_ticketking.po.TbIntro">
        <id property="introId" column="intro_id" javaType="java.lang.Long"/>
        <result property="introDetails" column="intro_details" javaType="java.lang.String"/>
        <result property="introImage" column="intro_image" javaType="java.lang.String"/>
        <result property="ticketId" column="ticket_id" javaType="java.lang.Long"/>
    </resultMap>
    <select id="selectIntroAll" resultMap="introIdResult">
        select intro_id,intro_details,intro_image from tb_intro where ticket_id = #{ticketId};
    </select>
    <select id="queryPrice" resultMap="baseResult">
        select t.ticket_image,p.place_id,t.ticket_id,t.ticket_name,p.place_name,s.show_time,s.show_id,l.price from tb_ticket t
        join tb_place p on t.place_id = p.place_id
        join tb_price pr on pr.place_id = p.place_id
        join tb_lv l on pr.price_id = l.price_id
        join tb_show s on s.show_id = pr.show_id
        and t.ticket_id =#{ticketId} and s.show_id = #{showId};
    </select>
</mapper>
