<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.demo_ticketking.mapper.PriceMapper">
    <resultMap id="priceResult" type="com.ticket.demo_ticketking.po.TbPrice">
        <id property="priceId" column="price_id" javaType="java.lang.Long"/>
        <result property="placeId" column="place_id" javaType="java.lang.Long"/>
        <result property="showId" column="show_id" javaType="java.lang.Long"/>
    </resultMap>

    <select id="queryPrice" resultMap="priceResult">
        select * from tb_price
    </select>
    <insert id="savePrice">
        insert into tb_price(price_id,place_id,show_id)
            values(#{priceId},#{placeId},#{showId});
    </insert>

    <select id="queryPriceById" resultMap="priceResult">
        select * from tb_price where price_id=#{priceId};
    </select>

    <update id="updatePrice">
        update tb_price set place_id=#{placeId},show_id=#{showId}
        where price_id=#{priceId};
    </update>

</mapper>