<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.demo_ticketking.mapper.ShowMapper">
    <resultMap id="showResultt" type="com.ticket.demo_ticketking.po.TbShow">
        <id property="showId" column="show_id" javaType="java.lang.Long"/>
        <result property="showTime" column="show_time" javaType="java.lang.String"/>
        <result property="showChoice" column="show_choice" javaType="java.lang.String"/>
    </resultMap>

    <select id="queryShow" resultMap="showResultt">
        select * from tb_show
    </select>
    <insert id="saveShow">
        insert into tb_show(show_time,show_choice)
            values(#{showTime},#{showChoice});
    </insert>
    <select id="queryShowsId" resultMap="showResultt">
        select * from tb_show where show_id=#{showId};
    </select>

    <update id="updateShows">
        update tb_show set show_time=#{showTime},show_choice=#{showChoice}
      where show_id=#{showId};
    </update>

</mapper>